// Bootstrap core JavaScript
script(src='special/jquery/jquery.min.js')
script(src='special/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='special/jquery-easing/jquery.easing.min.js')
